fastapi==0.95.2
pydantic<2.0
uvicorn[standard]
moviepy
openai
python-dotenv
requests
IPython
librosa
soundfile
numpy
yt-dlp
urllib3  # Necessário se não estiver incluído com outros pacotes
beautifulsoup4

